.logo{
    width: 80px;
    border: 1px whitesmoke solid;
    border-radius: 20px;
}

.navbar{
        background-color: goldenrod;
}

.carousel-inner{
    height: 400px;
    object-fit: cover;
}

.titulo{
    text-align: center;
    text-transform: uppercase;
    background-color: chocolate;
    color: azure;
    margin-top: 20px;
    padding: 10px;
}

.contenedor-imagen{
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
}

.fotos{
    height: 400px
    
    }


.footer{
    
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    
}

h4{
    padding: 20px;
    letter-spacing: 10px;
}

.footer i{
    font-size: 30px;
    letter-spacing: 30px;
    padding: 10px;
}



.descripcion{
    height: 150px;
    font-size: 24px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-block: 10px ;
    
    
    }

.span-descripcion{
    text-decoration: underline;
}



.footer p{
    margin-top: 20px;
}

.titulo-sucursales{
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px aliceblue;
    background-color:black;
    color: azure;
    padding: 20px;
}
.btn{
    color: black !important;
    text-decoration: none;
    
}

.btn:hover{
    background-color: black;
    color: whitesmoke !important;
}

.foto-back{
    
    background-image: url(imagenes/visitanos.jpg);
    background-position: center;
    background-size: cover;
}

.lead{
    color: white;
    background-color: rgba(0, 0, 0, 0.350);
    font-weight: 900;
    
    
}

.display-4{
    color: white;
    background-color: rgba(0, 0, 0, 0.350);
    font-weight: 900;
    
    
}

.nombre{
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    animation-name: efecto;
    animation-duration: 5s;
    animation-iteration-count: 5;

}



.productos{
    height: 400px;
}

.foto-productos{
    position: relative;
    height: 400px;
    background-color: chocolate;
    display: flex;
    align-items: center;
}

.parrafo{
    position: absolute;
    top: 20px;
    left: 20px;
    color: aliceblue;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    
    
}

.img{
    height: 300px;
    object-fit: cover;
}

.contenedor-titulo{
    background-color: black;
   
     
   }




.titulo-productos{
    color: white;
    text-transform: uppercase;
    text-align: center;
}


.slide-in-blurred-tl {
	-webkit-animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


.foto1{
    animation-delay: 1s;
}

.foto2{
    animation-delay: 1.5s;
}

.foto3{
    animation-delay: 2s;
}

.foto4{
    animation-delay: 2.5s;
}

.img1{
    
    object-fit: cover;
    }

    .footer a:hover{
        color: springgreen;
    }





/* ----------------------------------------------
 * Generated by Animista on 2023-1-10 13:33:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-tl
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-tl {
    0% {
      -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
      transform: translate(-1000px, -1000px) skew(80deg, 10deg);
      -webkit-transform-origin: 100% 0%;       
      transform-origin: 100% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) skew(0deg, 0deg);
              transform: translate(0, 0) skew(0deg, 0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-tl {
    0% {
      -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
              transform: translate(-1000px, -1000px) skew(80deg, 10deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) skew(0deg, 0deg);
              transform: translate(0, 0) skew(0deg, 0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
  @keyframes efecto{
    0%{
        opacity: 0;
        
      

        }
    100%{
        opacity: 1;
        color: crimson;
        
    }
    }
    

    

    @media  only screen and(max-width:760px){
        .contenedor-imagen{
            max-height: 300px;
        }
       
    }

   
